@font-face {
  font-family: 'JZ-icon'; /* Project id 2712124 */
  src: url('./iconfont/iconfont.woff2?t=1634177588880') format('woff2'),
    url('./iconfont/iconfont.woff?t=1634177588880') format('woff'),
    url('./iconfont/iconfont.ttf?t=1634177588880') format('truetype');
}

.JZ-icon {
  font-family: 'JZ-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.JZ-icon-a-ziyuan133:before {
  content: '\e665';
}

.JZ-icon-a-ziyuan132:before {
  content: '\e664';
}

.JZ-icon-a-ziyuan131:before {
  content: '\e663';
}

.JZ-icon-a-ziyuan130:before {
  content: '\e662';
}

.JZ-icon-a-ziyuan128:before {
  content: '\e661';
}

.JZ-icon-a-ziyuan127:before {
  content: '\e660';
}

.JZ-icon-a-ziyuan125:before {
  content: '\e65f';
}

.JZ-icon-a-ziyuan124:before {
  content: '\e65e';
}

.JZ-icon-a-ziyuan123:before {
  content: '\e65d';
}

.JZ-icon-a-ziyuan122:before {
  content: '\e65c';
}

.JZ-icon-a-ziyuan120:before {
  content: '\e65b';
}

.JZ-icon-a-ziyuan119:before {
  content: '\e65a';
}

.JZ-icon-a-ziyuan100:before {
  content: '\e659';
}

.JZ-icon-a-ziyuan99:before {
  content: '\e658';
}

.JZ-icon-a-ziyuan98:before {
  content: '\e657';
}

.JZ-icon-yingjian:before {
  content: '\e656';
}

.JZ-icon-a-ziyuan961:before {
  content: '\e655';
}

.JZ-icon-dancitingxie:before {
  content: '\e652';
}

.JZ-icon-jishiqi:before {
  content: '\e653';
}

.JZ-icon-fangdajing:before {
  content: '\e654';
}

.JZ-icon-a-ziyuan931:before {
  content: '\e651';
}

.JZ-icon-a-ziyuan921:before {
  content: '\e650';
}

.JZ-icon-a-ziyuan86:before {
  content: '\e64a';
}

.JZ-icon-a-ziyuan87:before {
  content: '\e64b';
}

.JZ-icon-a-ziyuan88:before {
  content: '\e64c';
}

.JZ-icon-a-ziyuan89:before {
  content: '\e64d';
}

.JZ-icon-a-ziyuan91:before {
  content: '\e64e';
}

.JZ-icon-a-ziyuan90:before {
  content: '\e64f';
}

.JZ-icon-a-ziyuan71:before {
  content: '\e649';
}

.JZ-icon-a-ziyuan96:before {
  content: '\e648';
}

.JZ-icon-a-ziyuan94:before {
  content: '\e615';
}

.JZ-icon-a-ziyuan93:before {
  content: '\e645';
}

.JZ-icon-a-ziyuan92:before {
  content: '\e646';
}

.JZ-icon-a-ziyuan95:before {
  content: '\e647';
}

.JZ-icon-new-close:before {
  content: '\e60a';
}

.JZ-icon-export:before {
  content: '\e609';
}

.JZ-icon-Import:before {
  content: '\e607';
}

.JZ-icon-edit:before {
  content: '\e606';
}

.JZ-icon-view:before {
  content: '\e605';
}

.JZ-icon-back:before {
  content: '\e60b';
}

.JZ-icon-arrow-up:before {
  content: '\e60c';
}

.JZ-icon-bin:before {
  content: '\e60d';
}

.JZ-icon-arrow-right:before {
  content: '\e60e';
}

.JZ-icon-check:before {
  content: '\e60f';
}

.JZ-icon-circle-plus:before {
  content: '\e610';
}

.JZ-icon-arrow-down:before {
  content: '\e611';
}

.JZ-icon-arrow-left:before {
  content: '\e612';
}

.JZ-icon-account:before {
  content: '\e613';
}

.JZ-icon-check-s:before {
  content: '\e614';
}

.JZ-icon-boy:before {
  content: '\e616';
}

.JZ-icon-d-arrow-left:before {
  content: '\e617';
}

.JZ-icon-close:before {
  content: '\e618';
}

.JZ-icon-caret-right:before {
  content: '\e619';
}

.JZ-icon-error:before {
  content: '\e61a';
}

.JZ-icon-circle-close:before {
  content: '\e61b';
}

.JZ-icon-circle-check:before {
  content: '\e61c';
}

.JZ-icon-files:before {
  content: '\e61d';
}

.JZ-icon-date:before {
  content: '\e61e';
}

.JZ-icon-delete:before {
  content: '\e61f';
}

.JZ-icon-d-arrow-right:before {
  content: '\e620';
}

.JZ-icon-info:before {
  content: '\e621';
}

.JZ-icon-document:before {
  content: '\e622';
}

.JZ-icon-location:before {
  content: '\e623';
}

.JZ-icon-left-d:before {
  content: '\e624';
}

.JZ-icon-edit-outline:before {
  content: '\e625';
}

.JZ-icon-minus:before {
  content: '\e626';
}

.JZ-icon-girl:before {
  content: '\e627';
}

.JZ-icon-loop:before {
  content: '\e628';
}

.JZ-icon-more:before {
  content: '\e629';
}

.JZ-icon-left-outline:before {
  content: '\e62a';
}

.JZ-icon-right-d:before {
  content: '\e62b';
}

.JZ-icon-message:before {
  content: '\e62c';
}

.JZ-icon-refresh:before {
  content: '\e62d';
}

.JZ-icon-plus:before {
  content: '\e62e';
}

.JZ-icon-password:before {
  content: '\e62f';
}

.JZ-icon-menu:before {
  content: '\e630';
}

.JZ-icon-hint:before {
  content: '\e631';
}

.JZ-icon-loading:before {
  content: '\e632';
}

.JZ-icon-share:before {
  content: '\e633';
}

.JZ-icon-sort-outline:before {
  content: '\e634';
}

.JZ-icon-shutdown:before {
  content: '\e635';
}

.JZ-icon-picture-outline:before {
  content: '\e636';
}

.JZ-icon-news:before {
  content: '\e637';
}

.JZ-icon-picture:before {
  content: '\e638';
}

.JZ-icon-sort-s:before {
  content: '\e639';
}

.JZ-icon-setting:before {
  content: '\e63a';
}

.JZ-icon-right-outline:before {
  content: '\e63b';
}

.JZ-icon-success-w:before {
  content: '\e63c';
}

.JZ-icon-warning:before {
  content: '\e63d';
}

.JZ-icon-time:before {
  content: '\e63e';
}

.JZ-icon-mobile-phone:before {
  content: '\e63f';
}

.JZ-icon-search:before {
  content: '\e640';
}

.JZ-icon-star-off:before {
  content: '\e641';
}

.JZ-icon-upload:before {
  content: '\e642';
}

.JZ-icon-star-on:before {
  content: '\e643';
}

.JZ-icon-success:before {
  content: '\e644';
}
